.side-navbar {
  position: fixed;
  top: 0px;
  width: 150px;
  background: #eaeaea;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-navbar h2 {
  margin-top: 0;
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
}

.side-navbar ul li {
  margin: 10px 0;
}

.side-navbar ul li a {
  text-decoration: none;
  color: #333;
}

.side-navbar ul li a:hover,
.side-navbar ul li a.active {
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width: 830px) {
  .side-navbar {
    width: 119px;
    font-size: small;
  }
}
@media (pointer: coarse) {
  .side-navbar {
    width: 60px;
    font-size: xx-small;
  }
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
